.App {
  height: 200vh;
  width: 100vw;
  text-align: center;
  display: flex;
}

.App-header {
  background-color: #282c34;
  min-height: 10%;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: fixed;
  z-index: 1;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 10px;
}

.headerGif{
  /* justify-content: space-between; */
  height: 60px;
  width: 60px;
  margin-right: 100px;
  border-radius: 50px;
  padding: 0px;
}

.App-Body {
  height: 100%;
  width: 98.9vw;
  /* background-image: url(); */
  background-color: black;
  min-height: 90%;
  flex-wrap: wrap;
}







@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
